.container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px 20px 20px;
}

.container p {
    width: fit-content;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 40px;
    background: #000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    align-self: center;
    text-align: center;
}

.container .videos {
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 20px;
}

.container .videos .video-wrapper {
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 385px;
}

.container .videos .video-wrapper button {
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
}

.container .videos .video-wrapper button:hover {
    color: #e0e0e0;
}

.container .videos .video-wrapper .buttons-container {
    display: flex;
    gap: 30px;
    align-items: center;
    position: absolute;
    bottom: 20px;
    justify-self: center;
}

.container .videos .video-wrapper span {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 2px 0;
    border-bottom-right-radius: 4px;
}

.container .videos .video-wrapper video {
    border-radius: 2px;
}
